<div class="contents">
  <div class="first-view">
    <%= image_tag "img.jpg", class: "top-image"%> 
  </div>
  <div class="upper-content">
    <h2 class="heading-name">service</h2>
    <div class="message-date">
      情報商材＝詐欺と思っている人もいれば情報商材＝稼げると期待する人もいます。
      果たして情報商材は「詐欺」なのか「稼げる」のかどっちなんでしょう？
      <br>答えはずばり！どっちも正解です。
      <br>情報商材には「良い物」も「悪い物」も存在します。<br>自分の目的にあった、本当に良い物だけを手にできるように少しでもお手伝いが出来たらと思いこのサイトを立ち上げました。
    </div>       
  </div>
  <div class="middle-content">
    <h2 class="heading-name">投稿一覧</h2>
      <div class="post">
        <% @info.each do |info| %>
        <div class=main-contents>
          <div class="post-contents">
            <%if info.image.attached?%>
              <%= image_tag info.image, class: 'message-image'  %>
            <%else%>
              <%= image_tag "unnamed.png", class: "message-image"%> 
            <%end%>
          </div>
          <div class="right-top">
            <div class="info-title">
              <p class="bord-title">商材名</p>
              <div class="bord-content">
                <p><%= link_to info.title, info_path(info.id) %></p>
              </div>
            </div>
            <div class="info-content">
              <p class="right-title">内容</p>
              <div class="right-content">
                <p><%= info.content %></p>
              </div>
            </div>
          </div>
        </div>
        <%end%>
      </div>
      </div>
  </div>
</div>