<!DOCTYPE html>
<html>
  <head>
    <title>InfoBoard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
        <h1 class="title">InfoBoard</h1>
        <div class="nav">
            <%= link_to "ホーム",root_path, class: :nav__btn %>
          <% if user_signed_in? %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: :nav__btn %>
            <%= link_to "投稿",new_info_path , class: :nav__btn %>
          <% else %> 
            <%= link_to "ログイン", new_user_session_path, class: :nav__btn %>
            <%= link_to "新規登録",  new_user_registration_path, class: :nav__btn %>
          <% end %>
        </div>
    </header>
    <%= yield %>
    <footer class="footer">
      <p class="copyright">Copyright © PROTO SPACE All rights reserved.</p>
    </footer>
  </body>
</html>
